body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #020617, #000);
  color: #e5e7eb;
}

/* header */
header {
  text-align: center;
  padding: 20px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

input {
  background: #020617;
  color: white;
}

button {
  background: #111827;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

/* layout */
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* left */
.left {
  flex: 2;
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
}

/* right */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
}

/* imagem */
#media img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}